@import "reset.css";

body{
  width: 100vh;
}

.banner {
    position: fixed;
    bottom: 20px;
    right: 0px;
    cursor: pointer;
    z-index: 1;
  }

  @media screen and (max-width: 768px) {
    .banner {
      width: 30%;
    }
  }
    
  
  .modal {
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: rgba(0, 0, 0, 0.5);
    padding: 20px;
    color: #fff;
  }
  
  .modal.active {
    display: block;
  }
  